    // .home {
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     width: 70%;
//     margin: 3rem auto;
//     min-height: 400px;
//     border-radius: 5px;
//     padding: 0 1.5rem;

//     &-subtitle {
//         margin-bottom: 2rem;
//         max-width: 200px;
//         background-color: rgb(182, 182, 7);
//         color: black;
//         padding: 1rem;
//         font-size: 22px;
//         font-weight: bold;
//         font-style: italic;
//     }

//     &-text {
//         text-align: center;
//         width: 49%;
//         font-size: 30px;
//         line-height: 150%;
//         margin: auto;
//         font-style: italic;
//     }

//     &-content{
//         display: flex;
//     }

//     &-profil {
//         width: 49%;
//         display: flex;
//         justify-content: center;
//         margin: auto;
//     }

//

//     
// }

.home {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    

    &-title{
        display: flex;
        justify-content: center;
        margin: 2rem auto;
        
    }

    &-subtitle {        
        margin: auto 0.5rem;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        font-style: italic;        
        padding: 0.5rem 2rem;
    }

    &-content {
        
        display: flex;
        justify-content: center;
        margin: 3rem auto;
        width: 90%;
    }

    &-profil {        
        text-align: center;
        margin: auto;
    }

    &-voyage {
        width: 15%;
    }
    &-logo{
        display: none;
    }
    &-profil-logo{
        display: none;
    }

    &-pic {
        width: 50%;
        border-radius: 5px;
    }

    &-text {  
        width: 50%; 
        text-align: center;
        margin:auto;
        font-size: 28px;
        line-height: 150%;
    }

   
}

@media only screen and (max-width: 960px) {
    .home{

        width: 100%;

        &-title{

             display: flex;
             flex-direction: column;
             align-items: center;
             width: 90%;
             margin: 1rem auto 0;
        }

        &-voyage {
            margin: 0.25rem 0 1rem;
            width: 30%;
        }

        &-subtitle{
            margin: 1rem 0 0.25rem;
            font-size: 28px;
            max-width: 70%;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            width: 90%;
        }

        &-text{
            font-size: 26px;
            width: 100%;
            margin: 1rem 0;
        }

        &-profil {
            margin: 1rem auto 3rem;
        }

        &-profil-logo {
           display: contents;
        }
        &-pic {
            width: 70%;
        }

        &-logo{
            display: inline-flex;
            width: 50%;
            margin: 0.5rem;
            background-color: black;
        }

    }
    
}

@media only screen and (max-width: 1130px) {
   

  }